<div>
  <h4 class='list-group-item-heading'><%= item.name %></h4>
  <p class='list-group-item-text'><%= days_left(item) %></p>
</div>
<div>
  <button type="button" class="btn btn-default">
    <%= link_to "Delete #{item.name}", user_item_path(@user.id, item), method: :delete, remote: true, class: 'glyphicon glyphicon-ok' %>
  </button>
</div>
