<div>
  <h4><%= item.name %></h4>
</div>
<div>
  <button type="button" class="btn btn-default">
    <%= link_to "Delete #{item.name}", user_item_path(@user.id, item), method: :delete, remote: true, class: 'glyphicon glyphicon-ok' %>
  </button>
</div>
